<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vegan Homies is Coming Soon!!!</title>
  </head>
  <body>
    <h1>Vegan Homies is coming soon!!!</h1>
    <h2>Vegan Homies will be a website that will help vegans find and meet others in their area.</h2>
    <h2>For more information and updates about the project, check out the <a href="/blog">blog</a>.</h2>
    <hr>
    <img src="https://i.redd.it/2efa0czawpr01.jpg" height=300 width=300 />
  </body>
</html>
